<div class="ui-g center-login">
    <p-panel class="ui-g-12" header="Please Sign In">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1;"></i></span>
            <input class="inputtext" type="text" placeholder="Username" [(ngModel)]="username" pInputText/>
        </div>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1;"></i></span>
            <input class="inputtext" type="password" placeholder="Password" [(ngModel)]="password" pInputText/>
        </div>
        <div class="ui-inputgroup">
            <p-button label="Login" (click)="login()"></p-button>
        </div>
    </p-panel>
</div>